<% @contacts.each do |contact|%>
	<%= contact.name %> 
	<%= contact.email %> 
	<%= contact.country %>
<%end%>

<div id="new-contact">
	<form action="/contacts/new" method="POST">
		Name: <input type="text" name="name">
		Email: <input type="email" name="email">		
		Country: <input type="text" name="country">
		Groups: <input type="text" name="groups">
		<input type="submit" value="Add Contact">
	</form>
</div>